bin/
obj/


node_modules/
dist/
.angular/
environment.ts
environment.development.ts
!src/frontend/src/environments/
!src/frontend/src/environments/environment.ts
!src/frontend/src/environments/environment.development.ts

.env
.DS_Store

.azurefunctions/
local.settings.json
.azurite/
*.md
